<% no_users = User.active.count == 1 %>
<% no_projects = Project.active.count == 0 %>

<p><strong>Welcome to <%= Setting[:app_title]%> Planio!</strong></p>
<% if User.current.admin? and Redmine::DefaultData::Loader::no_data? %>
	<p>In order to get started with your brand new Planio, we recommend that you load a default configuration.</p>
	<p>Please click on <em><strong>Administration</strong></em> in the top menu. <small>(<%= link_to('Please take me there!', :controller => 'admin')%>)</small></p>
<% elsif User.current.admin? and (no_users or no_projects) %>
	<p>There isn't much going on here, yet. If you like, we can assist you in getting up and running in no time. Would you like to:</p>
	<ul>
		<% if no_projects %>
		<li><%= link_to 'Create a project', :controller => 'projects', :action => 'new' %>? <small>(This is also available through <strong>Administration</strong> -> <strong>Projects</strong>)</small></li>
		<% end %>
		<% if no_users %>
		<li><%= link_to 'Invite co-workers', :controller => 'users', :action => 'new' %>? <small>(This is also available through <strong>Administration</strong> -> <strong>Users</strong>)</small></li>
		<% end %>
	</ul>
	<p>If you know what you're up to, just click on <em><strong>hide</strong></em> in the upper right corner to remove this window.</p>
<% elsif User.current.created_on > 2.days.ago %>
	<p>Have you completed your account details yet? You can set up your email preferences, your language and time zone, or change your password by clicking on <em><strong>My account</strong></em> in the upper right corner.</p>
<% else %>	
	<p>This is the Planio home screen. It shows your projects and the latest news.</p>
<% end %>
