<% if Project.active.count == 0 %>
<p><strong>Creating a project is easy!</strong></p>

<p>Just fill out the form below by giving your project a <em><strong>name</strong></em> and an <em><strong>identifier</strong></em>. The identifier will be used as part of all links to your project's pages later on.</p>
<p>If you're not sure about the rest, just leave everything as it is. You can always change these options later.</p>
<p>Finally, click on <em><strong><%= l :button_save%></strong></em>.
<% end %>