<p><strong><%= t :label_thank_you_for_creating_a_planio %></strong></p>

<p><%= t 'Youve just created your new Planio instance Now, lets go and <strong>set up your first project</strong>' %></p>
<p><a href="#"><%= t 'Click here to get started' %></a></p><p>