<p><strong><%= t 'Thank you for creating a Planio!' %></strong></p>

<p><%= t 'You''ve just created your new Planio instance. Now, let''s go and <strong>set up your first project</strong>.' %></p>
<p><a href="#"><%= t 'Click here to get started' %></a></p><p>