<p><strong>Thank you for creating a Planio!</strong></p>

<p>You've just created your new Planio instance. Now, let's go and <strong>set up your first project</strong>.</p>
<p><a href="#">Click here to get started</a></p><p>