<p><strong><%= t 'This is the project overview' %></strong></p>
<p><%= 'Using the tabs above, you can easily navigate between the main sections of the project Some of the sections available are:' %></p>
<% menu_items_for(:project_menu, @project) do |node| %>
<p>
	<% if node.name == :activity %>
		<%= t 'The X tab allows you to see a feed of the projects recent activity ordered by date Its a great help to catch up with the latest events and developments in a project', :activity => content_tag(:em,content_tag(:strong,t(:label_activity))) %>
	<% elsif node.name == :issues %>
		<%= t 'The X and X tabs are the entry points to task management You can create tasks, assign them to co-workers, check on their status and much more', :issues => content_tag(:em,content_tag(:strong,t(:label_issue_plural))),:new_issue => content_tag(:em,content_tag(:strong,t(:label_issue_new))) %>
	<% end %>
</p>
<% end %>
